@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/Hero-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {margin: 0;
    padding: 0;
    
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
}

body {
    background-color: white;
    font-family: 'Hero', 'Times New Roman', sans-serif;
    font-weight: 400;
    padding-top: 70px;
    width: 100%;
    
}
article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
}
header {width: 100%;}
.navheader {
    /* padding: 10px;
    
    padding-right: 30px; */
    padding-left: 30px;
    position: fixed;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 1;
    backdrop-filter: blur(10px);
    
    flex-wrap: wrap;
}
.navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav ul {
    
    list-style-type: none;
    display: flex;
}
.centerli{
    margin-left: 35px;
    margin-right: 35px;
    
}
nav ul li {

    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}



.headlogo img {
    width: 70px;
    height: auto;
    position: relative;
}

.authorization {
    display: flex;
    margin-right: 7%;
    margin-left: 7%;
}

.authorization button {
    background-color: rgb(0, 64, 128);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    
}

.authorization button a {
    text-decoration: none;
    color: white;
}
/*----------------------------------------------------------------*/

 .overwelcomeimg button a{
    text-decoration: none;
    color: white;
}



.welcome {
    position: relative;
    width: 100%;
}

.welcome img {
    width: 100%;
    
}

.overwelcomeimg {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 50%;
}

.overwelcomeimg p {
    margin-bottom: 20px;
    color: white;
    font-size: 4em; 
    line-height: 1; 
    font-weight:bold;
}


.overwelcomeimg button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 23px;
    font-size: 18px;
}

/*----------------------------------------------------------------*/    




.aboutus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to right, rgb(0,26,77), rgb(0,47,107));
    color: white; 
    margin-top: 100px; 
    margin-bottom: 100px; 
    width: 1100px;
    border-radius: 25px; 
    padding: 5% 0 5% 5%;
}


.textbox img {
    height: 25px;
    width: auto;
}
.textbox1 {
    display: flex;
    flex-direction: column;
}

.textbox {
    display: flex;
    flex-direction: row;
}

.mx700 img {
    width: 600px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.aboutusimgplus h2{
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    font-size: 35px; 
    line-height: 1; 
}
.aboutusimgplus p{
    margin-right: 70px;
    color: rgb(211, 211, 211);
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 20px;
}
.aboutusimgplus span{
    margin-right: 70px;
    color: rgb(211, 211, 211);
    font-size: 18px; 
    line-height: 1.5;
 
}
.aboutustext{
    margin-bottom: 110px;
}

/*----------------------------------------------------------------*/    
.team{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}
.ourteam{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.ourteam h2{
    font-size: 40px; 
    margin-bottom: 20px;
}
.ourteam p{
    font-size: 20px; 
    margin-bottom:   100px;
}
.teamimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1300px;
    height: 1000px;
}
.teamimg img{

    width: 200px;
    height: 250px;
    margin-right: 20px;
    margin-left: 50px;
}   

.aboutpeople p{
    color: rgb(75, 75, 75);
    font-size: 18px; 
    line-height: 1.5;
    margin-bottom: 20px;
    
}
.aboutpeople h3{

    font-size: 25px; 

    
}

.corner {
    width: 650px; 
    height: 500px; 
    display: flex;
}
.corner img{
    border-radius: 15px; 
    width: 250px; 
    height: 350px; 
}

.od {
    align-self: flex-start;
    order: 1;
}

.ka {
    align-self: flex-start;
    order: 2;
}

.dp {
    align-self: flex-end;
    order: 3;
}

.kim {
    align-self: flex-end;
    order: 4;
} 
/*----------------------------------------------------------------*/    

.gallery{
    width: 70%;
    margin-top: 100px;
}

.galleryimgs{
    display: flex;
}
.galup h2{
    font-size: 40px; 
    margin-bottom: 20px;
}
.galup p{
    font-size: 20px; 
    margin-bottom: 50px;
}

.galleryimg {
    position: relative;
    margin-right: 20px; 

}

.galleryimg img {
    width: 100%;
    height: auto;
    
}

.overgallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}



.callus{
    width: 60%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}
.callus img{
    height:350px;
    width: 600px;
    border-radius: 10px;
}


.callus h2{
    font-size: 60px; 
    margin-bottom: 20px;
   
}
.callus p{
    font-size: 20px; 
    margin-bottom: 50px;
    width: 60%;

}
.callus h3{
    font-size: 25px; 
    margin-bottom: 20px;
   
}
.contactinfo p{
    font-size: 23px; 
}


/*----------------------------------------------------------------*/    

.feedback {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.bar {
    width: 100%;
    height: 400px;
    background-color: rgb(0,32,87);
    position: absolute;
    z-index: 1;
}

.feedback img[alt="feedback"], .feedback .feedbacktext {
    position: relative;
    z-index: 2;
}

.feedback img[alt="feedback"] {
    height: 500px;
    width: auto;
    border-radius: 15px;
}

.feedback img[alt="Apostrophe"] {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: auto;
    z-index: 2;
}



.feedbacktext {
    color: white;
    width: 30%;
    margin-left: 75px;
}

.feedbacktext h1 {
    font-size: 25px;
    margin-bottom: 30px;
}

.feedbacktext h2 {
    font-size: 20px;
    margin-bottom: 7px;
}

.feedbacktext p {
    font-size: 18px;
    color: rgb(211, 211, 211);
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
footer img{
    height: 30px;
    width: auto;

    margin-bottom: 20px;
}

footer p{
    color: rgb(75, 75, 75);
} 


@media only screen and (max-width: 1300px) {
    .aboutus {
        width: 100%;
    }
}
@media only screen and (max-width: 1100px) {
.aboutus {
    width: 100%;
}
}
@media only screen and (max-width: 1010px) {
    .mx700 img {
        width: 1px;
        height: auto;

    }
    .aboutus {
        padding:0;
    }
}






@media only screen and (max-width: 1100px) {
    .navheader {
        flex-direction: column; 
        padding-left: 0px;
    }
    
    .navigation {
        flex-direction: row; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .centerli{
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .authorization{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .overwelcomeimg p {

        font-size: 40px; 


    }
    body {

        padding-top: 175px;

    }
    .aboutus{
        margin-bottom: 0;
    }
    .aboutustext{
        margin-bottom: 50px;
    }

    .aboutusimgplus{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 25px;
    }
    
    .ourteam{
        padding: 5%;

    }
    .teamimg img{
        margin-bottom: 20px;
        

    }  
    .ourteam p{
        Text-align: center;
        margin-bottom: 0px;

    }
    .corner {
        width: 300px; 
        height: 500px; 
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin-top: 0px;
        align-items: baseline;
    }
    .teamimg {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        width: 100%;
        height: auto;
    } 
    .team{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    
    }
    .gallery{
            width: 100%;
    }
    .galup h2, galup p{
        Text-align: center;
    }
    .galup p{
        Text-align: center;
    }

    .galleryimgs{
        display: flex;
        flex-wrap: wrap;
        
    }
    .galleryimg {
        /* flex: 1 0 auto; */
        height: auto;
        width: 100%;
        margin: 0;
    }


    .callus img{
        height:0px;
        width: 0px;
        border-radius: 0px;
    }
    .callus{
        width: 100%;
        margin-top: 75px;
        margin-bottom: 50px;
        
    }
    .callustext{

        padding-left: 30px;

    }
    .callus h2 {
        font-size: 45px;
       
    }
    .callus p {
        width: 70%;
    }
    .callus h3 {
        font-size: 20px;
    }
    .contactinfo p {
        font-size: 18px;
    }


    .feedback img[alt="feedback"] {
        height: auto;
        width: 80%;
        border-radius: 15px;
    }

    .feedback img[alt="Apostrophe"] {

        height: 1px;
        width: 1px;

    }

    .feedback {
    flex-direction: column;
    }



    .feedbacktext {
        width: 80%;
        margin-left: 0px;
        margin-top: 20px;
        
    }



    .bar {

        height: 600px;
    }


    .feedbacktext h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .feedbacktext h2 {
        font-size: 17px;
        margin-bottom: 7px;
    }
    footer {

        margin-top: 100px;
        margin-bottom: 50px;
    }

}
@media only screen and (max-width: 550px) {
    .overwelcomeimg p {
        font-size: 25px;
    }
    .overwelcomeimg button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 10px;
    }
    .overwelcomeimg {

        width: 80%;
    }





}







/* 



.feedback {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100%;
    height: 400px;
    background-color: rgb(0,32,87);
    position: absolute;
    z-index: 1;
}

.feedback img[alt="feedback"], .feedback .feedbacktext {
    position: relative;
    z-index: 2;
}

.feedback img[alt="feedback"] {
    height: 500px;
    width: auto;
    border-radius: 15px;
}

.feedback img[alt="Apostrophe"] {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: auto;
    z-index: 2;
}



.feedbacktext {
    color: white;
    width: 30%;
    margin-left: 75px;
}

.feedbacktext h1 {
    font-size: 25px;
    margin-bottom: 30px;
}

.feedbacktext h2 {
    font-size: 20px;
    margin-bottom: 7px;
}

.feedbacktext p {
    font-size: 18px;
    color: rgb(211, 211, 211);
} */